                </div>
                <footer class="mdl-mini-footer">
                    <div class="mdl-mini-footer--left-section">
                        <div class="mdl-logo">More Information</div>
                        <ul class="mdl-mini-footer--link-list">
                            <li><a href="https://github.com/jdel/sspks">Source on GitHub</a></li>
                        </ul>
                    </div>
{{# branch }}
                    <div class="mdl-mini-footer--right-section">
                        <div class="mdl-logo">Version</div>
                        <ul class="mdl-mini-footer--link-list">
                            <li><a href="https://github.com/jdel/sspks/tree/{{ branch }}">{{ branch }}</a></li>
{{# commitHash }}
                            <li><a href="https://github.com/jdel/sspks/commit/{{ commitHash }}">{{ commitHash }}</a></li>
{{/ commitHash }}
                        </ul>
                        </div>
                    </div>
{{/ branch }}
                </footer>
            </main>
        </div>
        <!--a href="https://github.com/jdel/sspks" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a-->
    </body>
</html>
