<?xml version="1.0" encoding="utf-8"?>
<phpunit>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="./clover.xml" />
    </logging>

    <testsuites>
    </testsuites>

</phpunit>
