<?xml version="1.0" encoding="utf-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
    bootstrap="./vendor/autoload.php"
    verbose="true">

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="./clover.xml"/>
    </logging>

    <testsuites>
        <testsuite name="Scrutinizer">
            <directory>./</directory>
        </testsuite>
    </testsuites>

</phpunit>
