{{> html_head }}
<div class="mdl-grid">
{{# modellist }}
    <div class="mdl-cell mdl-cell--2-col mdl-card small-card clickable-card mdl-shadow--2dp" onclick="location.href='?arch={{ arch }}';">
        <div class="mdl-card__title">
            {{ name }}
        </div>
    </div>
{{/ modellist }}
</div>
{{> html_tail }}
